@import "tailwindcss";

@theme {
  --color-primary: #3fff8b;
  --color-primary-container: #13ea79;
  --color-on-primary: #005d2c;
  --color-secondary: #6e9bff;
  --color-tertiary: #ff7350;
  --color-error: #ff6e84;
  --color-surface: #0e0e0e;
  --color-surface-container-low: #131313;
  --color-surface-container-high: #20201f;
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #adaaaa;
  --color-outline-variant: #484847;
  
  --font-headline: var(--font-headline), sans-serif;
  --font-body: var(--font-body), sans-serif;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body antialiased;
  }
}
